/* CSS declarations go here */

.visible {
  display: block !important;
  visibility: visible !important;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}

#bottom{
	margin-top:50px;
}

.gameHeaderHalo{
	font-weight: bold;
	font-size: 14px;
	background-color:#000489; /* dark blue*/
	color:#FFFFFF; /* white */
}
.gameHeaderCoD{
	font-weight: bold;
	font-size: 14px;
	background-color:#FFFF99; 
	color:#331A00C;
}

.game{
	margin-bottom: 10px;
}

.gameInfo{
	width:100%;
}
.gameInfo tr{
	border-bottom: 1px solid #f2f2f2;
}

#sidebar {
  height: 100%;
  padding-right: 0;
  padding-top: 20px;
  /*border:2px solid red;*/
  float:left;
  width:100%;
}
#sidebar .nav {
  width: 95%;
}
#sidebar li {
  border:0 #f2f2f2 solid;
  border-bottom-width:1px;
}

#profile{
	/*border:2px solid black;*/
	width:100%;
}
#avatar{
	padding-left:20px;
	float:left;
	/*border:2px solid red;*/
	width:100%;
	vertical-align: top;
}


.teamCheckbox{
	display: inline-block;  
    width: 15px;  
    height: 15px;  
    vertical-align:middle;
    margin-right: 8px;  
    background-color: #484848 ;  
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, .3);
    border-radius: 4px;  
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

/* leaderbord css */
.leaderbord {
  margin: 0;
  padding: 0;
  background: white;
}

.leaderboard li {
  position: relative;
  padding: 15px;
  border-bottom: #eee solid 1px;
}

/*Error for forms */
label.error { 
  color:red; 
}

/*Carsoul item */
#carouselDiv{
  margin-bottom: 25px;
}
.story{
  /*border:2px solid black;*/
  display:block;
  width: 100%;
  height: 400px;
}
