/* CSS declarations go here */
.visible {
  display: block !important;
  visibility: visible !important;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}


/* game styles */

.game{
  margin-bottom: 10px;
  border: 1px solid #f2f2f2;
}

.gameInfo{
  width:100%;
}
.gameInfo tr{
  border-bottom: 1px solid #f2f2f2;
}
#bottom{
	margin-top:50px;
}

/*headers for the game class */
.gameHeaderHalo{
	font-weight: bold;
  height:25px;
	font-size: 14px;
	color:#FFFFFF; /* white */
  margin-bottom:5px;

  background: #1e5799; /* Old browsers */
  background: -moz-linear-gradient(top,  #1e5799 41%, #7db9e8 93%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(41%,#1e5799), color-stop(93%,#7db9e8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #1e5799 41%,#7db9e8 93%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #1e5799 41%,#7db9e8 93%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #1e5799 41%,#7db9e8 93%); /* IE10+ */
  background: linear-gradient(to bottom,  #1e5799 41%,#7db9e8 93%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}
.gameHeaderCoD{
	font-weight: bold;
	font-size: 14px;
	background-color:#FFFF99; 
	color:#331A00C;
}
.headerLink{
  color: #FFFFFF;
  font-weight: bold;
}
.headerLink:hover{
  color: #FFFFFF;
}


/*checkbox to select a team */
.teamCheckbox{
	 display: inline-block;  
    width: 30px;  
    height: 30px;  
    vertical-align:middle;
    margin-right: 8px;  
    background-color: #484848 ;  
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, .3);
    border-radius: 4px;  
}

/* delete a pick */
.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}



/*Error for forms */
label.error { 
  color:red; 
}

/*COMMENT styles */
#addComment{
  margin-top:50px;
  margin-bottom:10px;
}

.commentBoard{
  margin: 0;
  padding: 0;
  background: white;
}
.commentBoard li{
  list-style-type: none;
  position: relative;
  padding: 15px;
  border-bottom: #eee solid 1px;
}
.commentImg{
  float:left;
  margin-right: 10px;
}
.commentName{

}
.muted{
  color: #888;
}

#carouselDiv{
  margin-bottom: 20px;
}

.story{
  text-align: center;
}

h1{
  font-family: 'Orbitron', sans-serif;
}
.big{
  font-size: 72px;
  font-family: 'Orbitron', sans-serif;
}
.caption{
  font-size:20px;
  font-style: italic;
}
.tab a{
  font-family: 'Orbitron', sans-serif;
}



/* ABOUT STYLES*/
.panel-default .panel-heading{
  font-weight: bold;
  color: #FFFFFF;
  background: #1e5799; /* Old browsers */
  background: -moz-linear-gradient(top,  #1e5799 41%, #7db9e8 93%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(41%,#1e5799), color-stop(93%,#7db9e8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #1e5799 41%,#7db9e8 93%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #1e5799 41%,#7db9e8 93%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #1e5799 41%,#7db9e8 93%); /* IE10+ */
  background: linear-gradient(to bottom,  #1e5799 41%,#7db9e8 93%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}



